@media (max-width: 767px) {
    .footerLogo{
        justify-content: space-between;
    }
}

@media (max-width: 767px) {
    .footerMenu {
        display: none !important;
    }
}

.footerMenu{
    li{
        list-style: none;
    }
   a:hover{
       color: $grey-200 !important;
   }
}

.rightsReserved {
    font-size: $font-size-sm;
}
