<div class="container d-flex justify-content-start justify-content-lg-between">
    <div class="footerLogo d-flex align-items-center">
        <a href="index.html"><img class="mr-3" src="./assets/images/d’Perfumewhite.png" alt="logo"></a>
        <sapn class="rightsReserved text-white align-middle">© 2020. All Rights Reserved.</sapn>
    </div>
    <ul class="footerMenu d-flex align-items-center m-0">
        <li class="mr-4"><a class="text-white d-block py-4" href="product.html">Product</a></li>
        <li class="mr-4"><a class="text-white d-block py-4" href="#">Blog</a></li>
        <li><a class="text-white d-block py-4" href="#">Contact</a></li>
    </ul>
</div>