<nav
    class="mr-auto navbar navbar-expand-lg navbar-light bg-white container-fuild fixed-top d-flex justify-content-between">
    <a class="navbar-brand logo" href="index.html">D’PERFUME</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
        aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <div class="navbar-nav mr-auto"></div>
        <ul class="navbar-nav my-2 my-lg-0">
            <li class="nav-item active">
                <a class="nav-link text-grey-200" href="product.html"><span class="material-icons text-grey-200 align-middle">
                        store
                    </span>Product <span class="sr-only">(current)</span></a>
            </li>
            <li class="nav-item">
                <a class="nav-link text-grey-200" href="login.html"><span class="material-icons text-grey-200 align-middle">
                        person
                    </span>log in</a>
            </li>
            <li class="nav-item active">
                <a class="nav-link text-grey-200" href="#"><span class="material-icons text-grey-200 align-middle">
                        favorite
                    </span>Wishlist <span class="sr-only">(current)</span></a>
            </li>
            <li class="nav-item active">
                <a class="nav-link text-grey-200" href="#"><span class="material-icons text-grey-200 align-middle">
                        shopping_cart
                    </span>Cart(3) <span class="sr-only">(current)</span></a>
            </li>
        </ul>
    </div>
</nav>